<a href="https://colab.research.google.com/github/Gamer291Q/Python-Cbitss/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Price
pizza = 100
burger = 80
fries = 50
noodles = 70

#discount
pizza_discount = 10
burger_discount = 5
fries_discount = 15
noodles_discount = 10

#final-price
pizza_price = pizza-(pizza*pizza_discount/100)
burger_price = burger-(burger*burger_discount/100)
fries_price = fries-(fries*fries-fries_discount/100)
noodles_price = noodles=(fries*noodles_discount/100)

#total discount
total_discount = 20

total_price = (pizza_price+burger_price+fries_price+noodles_price)-((pizza_price+burger_price+fries_price+noodles_price)*total_discount/100)

print("Total Price",total_price)

Total Price -1823.08

In [ ]:
#currency Converter
"""
  Multiline Comment
  Multiline Comment
  Multiline Comment
  """

a = 50
b = 1.5
c = "Gurpreet291"
d = True

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

50
1.5
Gurpreet291
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
print("Hello World")
print("Name = Gurpreet Singh")
print("Fathers Name = Satpal")
print("Mothers Name = Sunita Rani")
print("Qualification = BCA From Panjab University")
print("Age = 20")
print("Email = gurpreetsingh2515c@gmail.com")
print("Address = #1324 Sector 20B Chandigarh")
print("Phone = 7380030736")

Hello World
Name = Gurpreet Singh
Fathers Name = Satpal
Mothers Name = Sunita Rani
Qualification = BCA From Panjab University
Age = 20
Email = gurpreetsingh2515c@gmail.com
Address = #1324 Sector 20B Chandigarh
Phone = 7380030736

In [ ]:
item1="Pizza"
item2="Burger"
item3="tea"

item1_price=100
item2_price=80
item3_price=50

print(item1,item1_price)
print(item2,item2_price)
print(item3,item3_price)

#discount
item1_dis = 10
item2_dis = 20
item3_dis = 15

discounted_item1 = item1_price-(item1_price*item1_dis/100)
discounted_item2 = item2_price-(item2_price*item2_dis/100)
discounted_item3 = item3_price-(item3_price*item3_dis/100)

print("Pizza Discounted",discounted_item1)
print("Burger Discounted",discounted_item2)
print("Tea Discounted",discounted_item3)


total_bill=item1_price+item2_price+item3_price
discount = 20
dsicounted_bill= total_bill-(total_bill*discount/100)
print("Total Bill",total_bill)
print("Discounted Bill",dsicounted_bill)

Pizza 100
Burger 80
tea 50
Pizza Discounted 90.0
Burger Discounted 64.0
Tea Discounted 42.5
Total Bill 230
Discounted Bill 184.0

In [ ]:
#currency Converter Inr to USD

inr = int(input("Enter Inr value"))
usd = inr*0.011
euro = inr*0.0096
nepal = inr*1.59
yen = inr*1.67
print("USD = ",usd)
print("Euro = ",euro)
print("Nepali Rupee = ",nepal)
print("Japanese Yen = ",yen)

Enter Inr value100000
USD =  1100.0
Euro =  959.9999999999999
Nepali Rupee =  159000.0
Japanese Yen =  167000.0

In [ ]:
#Simple intrest
amount = int(input("Enter Amount = "))
rate = int(input("Enter Rate = "))
period = int(input("Enter Period in Years = "))
si = (amount*rate*period)/100
print("SI = ",si)

Enter Amount = 230000
Enter Rate = 14
Enter Period in Years = 4
SI =  128800.0

In [ ]:
#if Else
age = int(input("Enter age = "))
if(age>=18):
  print("Eligible fot voting")
else:
  print("not elegible for voring")

Enter age = 18
Eligible fot voting

In [ ]:
#odd even
num= int(input("enter a number"))
if(num%2==0):
  print("Even Number")
else:
  print("odd Number")

enter a number32
Even Number

In [ ]:
#elif
color = input("enter color = ")
if(color=="red"):
  print("i'll Stay")
elif(color=="blue"):
  print("i'll Stay")
else:
  print("i'll Leave")

enter color = orange
i'll Leave

In [ ]:
#Question Hotel A,B building 1,2
gender = input("Enter Gender (male/female) = ")
age = int(input("Enter Age = "))

if(gender=="male"):
  print("Hotel A")
  if(age>30):
    print("Building 1")
  else:
    print("building 2")
elif(gender=="female"):
  print("hotel B")
  if(age>30):
    print("Building 1")
  else:
    print("building 2")
else:
  print("Invalid Input")

Enter Gender (male/female) = female
Enter Age = 56
hotel B
Building 1

In [ ]:
name = input("Enter your Name = ")
age = int(input("Enter Your Age = "))
salary = float(input("Enter Your Salary = "))
marital_status = bool(input("Enter Marital Status (True/False) = "))
print("Name = ",name)
print("Age = ",age)
print("Salary = ",salary)
print("Marital Status = ",marital_status)

Enter your Name = jon the don
Enter Your Age = 32
Enter Your Salary = 9999999
Enter Marital Status (True/False) = False
Name =  jon the don
Age =  32
Salary =  9999999.0
Marital Status =  True

In [ ]:
#Simple intrest Monthly
amount = int(input("Enter Amount = "))
rate = int(input("Enter Rate Monthly = "))
periodm = int(input("Enter Period in Months = "))
periodday = int(input("Enter Period in Days = "))
periodday = periodday/30
sim = (amount*rate*periodm)/100
sid = (amount*rate*periodday)/100
si = sim+sid
print("SI = ",si)
payable_amount = amount+si
print("Payable Amount = ",payable_amount)

Enter Amount = 1000
Enter Rate Monthly = 5
Enter Period in Months = 2
Enter Period in Days = 3
SI =  105.0
Payable Amount =  1105.0

In [ ]:
##Simple intrest Monthly according to months
amount = int(input("Enter Amount = "))
rate = int(input("Enter Rate Monthly = "))
periodm = int(input("Enter Period in Months = "))
periodday = int(input("Enter Period in Days = "))
month = input("Enter The Month in MMM Format = ")
if(month=="jan" or month=="mar" or month=="may" or month=="jul" or month=="aug" or month=="oct" or month=="dec"):
  periodday = periodday/31
elif(month=="feb"):
  periodday = periodday/28
else:
  periodday = periodday/30

sim = (amount*rate*periodm)/100
sid = (amount*rate*periodday)/100
si = sim+sid
print("SI = ",si)
payable_amount = amount+si
print("Payable Amount = ",payable_amount)

Enter Amount = 1000
Enter Rate Monthly = 5
Enter Period in Months = 2
Enter Period in Days = 3
Enter The Month in MMM Format = apr
SI =  105.0
Payable Amount =  1105.0

In [ ]:
#leap Year Check
year= int(input("Enter Year = "))

if(year%4==0 and year%100!=0 or year%400==0):
  print("Leap Year")
else:
  print("Not Leap Year")

Enter Year = 2200
Not Leap Year

In [ ]:
#leap year in nested if
year= int(input("Enter Year = "))

if(year%4==0):
  if(year%100==0):
    if(year%400==0):
      print("Leap Year")
    else:
      print("not Leap Year")
  else:
    print("Leap Year")
else:
  print("Not Leap Year")

Enter Year = 2200
not Leap Year

In [ ]:
##Simple intrest Monthly according to months and leap year
amount = int(input("Enter Amount = "))
rate = int(input("Enter Rate Monthly = "))
periodm = int(input("Enter Period in Months = "))
periodday = int(input("Enter Period in Days = "))
month = input("Enter The Month in MMM Format = ")
year = int(input("Enter the Year in YYYY Format = "))

if(year%4==0):
  if(year%100==0):
    if(year%400==0):
      febdays = 29
    else:
      febdays = 28
  else:
    febdays = 29
else:
  febdays = 28


if(month=="jan" or month=="mar" or month=="may" or month=="jul" or month=="aug" or month=="oct" or month=="dec"):
  periodday = periodday/31
elif(month=="feb"):
  periodday = periodday/febdays
else:
  periodday = periodday/30

sim = (amount*rate*periodm)/100
sid = (amount*rate*periodday)/100
si = sim+sid
print("SI = ",si)
payable_amount = amount+si
print("Payable Amount = ",payable_amount)

Enter Amount = 1000
Enter Rate Monthly = 5
Enter Period in Months = 5
Enter Period in Days = 5
Enter The Month in MMM Format = feb
Enter the Year in YYYY Format = 2025
SI =  258.92857142857144
Payable Amount =  1258.9285714285716

In [4]:
#Q Basic Roundabout Red Light System    1. No Accidents , 2. Optimization ,3 efficent
entry_point = input("Enter Entry Point (SI,NI,EI,WI) = ")

if(entry_point=="SI"):
  print("Red Light On NI,EI,WI  and Green Light On NO,SO,WO,EO")
elif(entry_point=="NI"):
  print("Red Light On SI,EI,WI and Green Light On NO,SO,WO,EO")
elif(entry_point=="EI"):
  print("Red Light On SI,NI,WI and Green Light On NO,SO,WO,EO")
elif(entry_point=="WI"):
  print("Red Light On SI,NI,EI and Green Light On NO,SO,WO,EO")
else:
  print("Invalid Input")

Enter Entry Point (SI,NI,EI,WI) = SI
Red Light On NI,EI,WI  and Green Light On NO,SO,WO,EO

In [1]:
#Q round about Red light system with middle lights
entry_point = input("Enter Entry Point (SI,NI,EI,WI) = ")

if(entry_point=="SI"):
  print("Green light on WO,WM,NO and Red Light on WI,NM,EO")

In [5]:
#for Loop
for i in range(5):
  print(i)

0
1
2
3
4

In [11]:
#for loop range
for i in range(1,5):
  print(i)
print(" from 1 to 9 with 2 difference")
for i in range(1,10,2):
  print(i)

print("reverse from 5 to 1")
for i in range(5,0,-1):
  print(i)

1
2
3
4
 from 1 to 9 with 2 difference
1
3
5
7
9
reverse from 5 to 1
5
4
3
2
1

In [22]:
#Q1 Check number which is divisible ny 100,200 and 500
num = int(input("Enter a number"))
if(num%100==0 and num%200==0 and num%500==0):
  print("Number is divisible by 100,200 and 500")
else:
  print("Number is not divisible")

Enter a number1000
Number is divisible by 100,200 and 500

In [21]:
#Q2 Check no which is not divisible by 20
num = int(input("Enter a 9 number"))
if(num%20!=0):
  print("Number is not divisible by 20")
else:
  print("Number is divisible by 20")

Enter a number525
Number is not divisible by 20

In [23]:
#sum of 10 numbers
sum = 0
for i in range(0,11):
  sum=sum+i
print(sum)

55

In [25]:
 # sum of 1,3,5,7,9,11
 sum = 0
 for i in range(1,12,2):
  sum=sum+i
 print(sum)

36

In [26]:
 # sum of 1,3,5,7,9,11 without 2 in range
 sum = 0
 for i in range(1,12):
  if(i%2!=0):
    sum=sum+i
 print(sum)

36

In [28]:
# sum of even nos from 1 to 10
sum = 0
for i in range(1,11):
  if(i%2==0):
    sum=sum+i
print(sum)

30

In [30]:
# sum of even nos from 1 to 10 with loop only
sum = 0
for i in range(2,11,2):
  sum=sum+i
print(sum)

30

In [32]:
2+8+14+20+16
sum=0
for i in range(2,27):
  if(i%6==2):
    sum=sum+i
print(sum)

70

In [35]:
#Q HW no  between 1-100 divisible by 5 & 10

In [ ]:
#Q HW no  between 1-100 divisible by 5 not 10