<a href="https://colab.research.google.com/github/Gamer291Q/Python-Cbitss/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Price
pizza = 100
burger = 80
fries = 50
noodles = 70

#discount
pizza_discount = 10
burger_discount = 5
fries_discount = 15
noodles_discount = 10

#final-price
pizza_price = pizza-(pizza*pizza_discount/100)
burger_price = burger-(burger*burger_discount/100)
fries_price = fries-(fries*fries-fries_discount/100)
noodles_price = noodles=(fries*noodles_discount/100)

#total discount
total_discount = 20

total_price = (pizza_price+burger_price+fries_price+noodles_price)-((pizza_price+burger_price+fries_price+noodles_price)*total_discount/100)

print("Total Price",total_price)

Total Price -1823.08