<a href="https://colab.research.google.com/github/Gamer291Q/Python-Cbitss/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Price
pizza = 100
burger = 80
fries = 50
noodles = 70

#discount
pizza_discount = 10
burger_discount = 5
fries_discount = 15
noodles_discount = 10

#final-price
pizza_price = pizza-(pizza*pizza_discount/100)
burger_price = burger-(burger*burger_discount/100)
fries_price = fries-(fries*fries-fries_discount/100)
noodles_price = noodles=(fries*noodles_discount/100)

#total discount
total_discount = 20

total_price = (pizza_price+burger_price+fries_price+noodles_price)-((pizza_price+burger_price+fries_price+noodles_price)*total_discount/100)

print("Total Price",total_price)

Total Price -1823.08

In [ ]:
#currency Converter
"""
  Multiline Comment
  Multiline Comment
  Multiline Comment
  """

a = 50
b = 1.5
c = "Gurpreet291"
d = True

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

50
1.5
Gurpreet291
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
print("Hello World")
print("Name = Gurpreet Singh")
print("Fathers Name = Satpal")
print("Mothers Name = Sunita Rani")
print("Qualification = BCA From Panjab University")
print("Age = 20")
print("Email = gurpreetsingh2515c@gmail.com")
print("Address = #1324 Sector 20B Chandigarh")
print("Phone = 7380030736")

Hello World
Name = Gurpreet Singh
Fathers Name = Satpal
Mothers Name = Sunita Rani
Qualification = BCA From Panjab University
Age = 20
Email = gurpreetsingh2515c@gmail.com
Address = #1324 Sector 20B Chandigarh
Phone = 7380030736

In [1]:
item1="Pizza"
item2="Burger"
item3="tea"

item1_price=100
item2_price=80
item3_price=50

print(item1,item1_price)
print(item2,item2_price)
print(item3,item3_price)

#discount
item1_dis = 10
item2_dis = 20
item3_dis = 15

discounted_item1 = item1_price-(item1_price*item1_dis/100)
discounted_item2 = item2_price-(item2_price*item2_dis/100)
discounted_item3 = item3_price-(item3_price*item3_dis/100)

print("Pizza Discounted",discounted_item1)
print("Burger Discounted",discounted_item2)
print("Tea Discounted",discounted_item3)


total_bill=item1_price+item2_price+item3_price
discount = 20
dsicounted_bill= total_bill-(total_bill*discount/100)
print("Total Bill",total_bill)
print("Discounted Bill",dsicounted_bill)

Pizza 100
Burger 80
tea 50
Pizza Discounted 90.0
Burger Discounted 64.0
Tea Discounted 42.5
Total Bill 230
Discounted Bill 184.0

In [6]:
#currency Converter Inr to USD

inr = int(input("Enter value"))
usd = inr*0.011
euro = inr*0.0096
nepal = inr*1.59
yen = inr*1.67
print("USD = ",usd)
print("Euro = ",euro)
print("Nepali Rupee = ",nepal)
print("Japanese Yen = ",yen)

Enter value125000
USD =  1375.0
Euro =  1200.0
Nepali Rupee =  198750.0
Japanese Yen =  208750.0